name: 编译OpenWrt

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'start'
      
jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - name: 释放Ubuntu磁盘空间
      uses: endersonmenezes/free-disk-space@v2
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/share/glade* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell"
        testing: false

    - name: 准备结束
      uses: actions/checkout@v4

    - name: 部署编译环境
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt-get install rename
        sudo bash -c 'bash <(curl -s https://build-scripts.immortalwrt.org/init_build_environment.sh)'
    
    - name: 下载openwrt源码
      env: 
        # REPO_URL: https://github.com/immortalwrt/immortalwrt
        # REPO_BRANCH: openwrt-24.10
        # REPO_URL: https://github.com/coolsnowwolf/lede
        # REPO_BRANCH: master
        # REPO_URL: https://github.com/Lienol/openwrt
        # REPO_BRANCH: '24.10'
        REPO_URL: https://github.com/openwrt/openwrt
        REPO_BRANCH: openwrt-25.12
      run: |
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt
                  
    - name: 源码依赖拉取
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a
          
    - name: 运行自定义文件
      env:
        CONFIG_FILE: '.config'
      run: |
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE openwrt/.config
        chmod +x ./customize.sh
        cd openwrt && $GITHUB_WORKSPACE/customize.sh
        ./scripts/feeds install -a
        make defconfig
        
    - name: 缓存加速
      uses: stupidloud/cachewrtbuild@main
      with:
        ccache: 'true'
        mixkey: ${{ matrix.target }}
        clean: ${{ contains(github.event.action, 'nocache') }}
        prefix: ${{ github.workspace }}/openwrt
        
    - name: 下载软件包
      run: |
        cd openwrt && make download -j$(nproc)

    - name: 开始编译固件
      run: |
        cd openwrt
        echo -e "$(nproc) thread compile"
        make -j$(nproc) || make -j1 V=s

    - name: 整理固件文件夹
      run: |
        cd openwrt/bin/targets/*/*
        find -name "*buildinfo*" | xargs -i rm -rf {}
        find -name "*manifest*" | xargs -i rm -rf {}
        find -name "*kernel.bin*" | xargs -i rm -rf {}
        find -name "*rootfs.img.gz*" | xargs -i rm -rf {}
        find -name "*rootfs.tar.gz*" | xargs -i rm -rf {}
        find -name "*profiles*" | xargs -i rm -rf {}
        find -name "*sha256sums*" | xargs -i rm -rf {}
        rm -rf packages
        [[ -z "${FIRMWARE_DATE}" ]] && echo "FIRMWARE_DATE=$(date +%Y-%m%d-%H%M)" >> ${GITHUB_ENV}
        rename "s/^immortalwrt/$(date +%Y-%m%d-%H%M)-immortalwrt/" *
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
          
    - name : 上传
      uses: actions/upload-artifact@master
      with:
        name: ${{ env.FIRMWARE_DATE }}-openwrt
        path: ${{ env.FIRMWARE }}
